body {
  font-family: "Poppins", sans-serif;
  background: #f7f8fa;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #5b3cc4;
  color: white;
  padding: 20px 0;
  border-bottom: 3px solid #4a2ea6;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 5px;
}

p {
  margin: 10px;
  color: #555;
}

.container {
  margin-top: 50px;
}

input[type="file"] {
  margin: 20px 0;
}

button {
  background: #5b3cc4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #4729a3;
}

#preview img {
  margin-top: 20px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#result {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #222;
}
